storage:
  dbPath: {{ mongodb_storage_path }}
  engine: wiredTiger
  journal:
    enabled: true
systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_log_path }}
  logRotate: reopen
net:
  port: {{ mongodb_port | default(27017) }}
  bindIp: 0.0.0.0
processManagement:
  fork: false
replication:
  replSetName: {{ mongodb_replica_set_name }}
