---
storage:
  dbPath: {{ mongodb_storage_path }}
  engine: wiredTiger
  journal:
    enabled: true
systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_log_path }}
  logRotate: reopen
net:
  port: {{ mongodb_port | default(27017) }}
  bindIp: 0.0.0.0
  tls:
    mode: requireTLS
    certificateKeyFile: {{ mongodb_tls_dir }}/{{ mongodb_file_tls_pem }}
    {%- if mongodb_tls_key_password_enabled %}
    certificateKeyFilePassword: {{ mongodb_tls_key_password.stdout }}
    {%- endif %}
    CAFile: {{ mongodb_tls_dir }}/{{ mongodb_file_ca_crt }}
processManagement:
  fork: false
security:
  authorization: enabled
  clusterAuthMode: x509
replication:
  replSetName: {{ mongodb_replica_set_name }}
