#!/usr/bin/env bash

MONGO_TLS_CA_FILE="{{ mongodb_tls_dir }}/{{ mongodb_file_ca_crt }}"
MONGO_TLS_KEY_FILE="{{ mongodb_tls_dir }}/{{ mongodb_file_tls_pem }}"
{%- if mongodb_tls_key_password_enabled %}
MONGO_TLS_KEY_FILE_PASSWORD='{{ mongodb_tls_key_password.stdout }}'
{%- endif %}
MONGO_HOST="$(hostname -f)"
MONGO_USERNAME="{{ mongodb_admin_username }}"
MONGO_PASSWORD='{{ mongodb_admin_password.stdout }}'

mongo_cmd="
    mongo \
        --tls \
        --tlsCAFile ${MONGO_TLS_CA_FILE} \
        --tlsCertificateKeyFile ${MONGO_TLS_KEY_FILE} \
        {%- if mongodb_tls_key_password_enabled %}
        --tlsCertificateKeyFilePassword ${MONGO_TLS_KEY_FILE_PASSWORD} \
        {%- endif %}
        --host ${MONGO_HOST} \
        --authenticationDatabase admin \
        --username ${MONGO_USERNAME} \
        --password ${MONGO_PASSWORD}
"

export mongo_cmd
